nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.seccionesNavBar{
    width: 45%;
    display: flex;
    justify-content: flex-end;
    gap: 10%


}

.mainName{

    display: flex;
    justify-content: flex-start;
    font-size: 30px;
  font-weight: 600;

}